.main1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height:35%;
  margin: 0;
  padding: 0;
  /* margin-top: -100; */

}


.qr-text{
  /* display: flex; */
  position: absolute;
  width: 100vw;
  height: 80px;
  margin-top: -950px;
  /* justify-content: center; */
  text-align: center;
  font-size: 20px;
  font-family: Century Gothic, sans-serif;
}

.my-qrcode-img{
  width: 280px; 
  height: 283.33px;
}

.filter{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  padding: 0 45px 0 40px;
  height: 35px;
  cursor: pointer;
  font-size: 20px;
  font-family: Century Gothic, sans-serif;
  font-weight: bold;
  color: #627FFF;
  position: absolute;
  margin-top: -30%;
  margin-left: 85%;
  
}

.filter div{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 171px;
  height: 35px;
  
}

.qr-codes{
  display: flex;
  max-height: 100vh; 
  justify-content: center;
  flex-wrap: wrap;
  gap:50px;
  padding: 40px 86px 70px 86px;
  column-gap: 50px;
  margin-top: 700px;
  
}

.qr-item{
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.qr-item p{
  font-family: Century Gothic, sans-serif;
  font-size: 24px;
}

.qr-item div{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 326px;
  height: 50px;    

}

.qr-item h2{
  width: 211px;
  font-size: 18px;
  font-family: Century Gothic, sans-serif;
  
}



.download-button{
  width: 25px;
  height: 23.31px;
  cursor:pointer;
  border:none;
  background-color: transparent;
  background: url('../images/download-icon.png') no-repeat;
  background-size: contain;
}

h1 {
  margin-top: 27%;
  /* display: flex; */

}
.del_qt{
  width: 25px;
  height: 23.31px;
  position: absolute;
  justify-content: center;
  align-items: center;
  background-color: inherit;
  border: none;
  cursor: pointer;
  appearance: none;
  /* color: red; */
}