{% extends 'base.html' %}

{% load static %}

{% block title %}
  Seleção de pacotes
{% endblock %}


{% block content %}



  <main class="main2">
    
    <div class="block-main">
      <div class="text-packet">
        <h1>Escolha seu plano</h1>
        <span class = "subtitle-packet">Escolha o pacote que melhor se adapta a você e ao seu negócio!</span>
      </div>
    
      <div class="packet-cards">
    
        <div class="packet-card1">
    
          <div class = "packet-title">
            <h1>_ RECAD _</h1>
            <p>BASICO.</p>
            <hr class="divider">
          </div>
    
          <div class="packet-option">
            <img src="{% static 'home_after/images/right_arrow_icon.png' %}" alt="main-block" width="25px;" height="25px;">
            <p>1 QR-Code teste.</p>
          </div>
    
          <div class="packet-option">
            <img src="{% static 'home_after/images/right_arrow_icon.png' %}" alt="main-block" width="25px;" height="25px;">
            <p>Rapido e Simples</p>
          </div>
    
          <div class="packet-option">
            <img src="{% static 'home_after/images/right_arrow_icon.png' %}" alt="main-block" width="25px;" height="25px;">
            <p>Configurações básicas</p>
          </div>
    
          
          <a href="{% url 'free' %}" class="get-button" >PEGAR</a>
    
        </div>
    
    
        <div class="packet-card2">
    
          <div class = "packet-title">
            <h1>_ RECAD _</h1>
            <p>PADRÃO.</p>
            <hr class="divider">
    
          </div>
    
          <div class="packet-option">
            <img src="{% static 'home_after/images/right_arrow_icon.png' %}" alt="main-block" width="25px;" height="25px;">
            <p>Códigos QR personalizados</p>
          </div>
    
          <div class="packet-option">
            <img src="{% static 'home_after/images/right_arrow_icon.png' %}" alt="main-block" width="25px;" height="25px;">
            <p>Rapido e personalizados</p>
          </div>
    
          <div class="packet-option">
            <img src="{% static 'home_after/images/right_arrow_icon.png' %}" alt="main-block" width="25px;" height="25px;">
            <p>Configurações de cor e texto</p>
          </div>
    
          <a href="{% url 'standard' %}" class="get-button" >PEGAR</a>
          <!--{% if user.is_authenticated %}
            <a href="#" id="openPopupStandart" name = 'standart-packet' class="get-button">FORMA</a>
          {% else %}
            <a href="{% url 'login' %}" class="get-button">FORMA</a>
          {% endif %}-->
        </div>
    
    
        <div class="packet-card3">
    
          <div class = "packet-title">
            <h1>_ RECAD _</h1>
            <p>EXPERT.</p>
            <hr class="divider">
    
          </div>
    
          <div class="packet-option">
            <img src="{% static 'home_after/images/right_arrow_icon.png' %}" alt="main-block" width="25px;" height="25px;">
            <p>Profissional e Personalizados</p>
          </div>
    
          <div class="packet-option">
            <img src="{% static 'home_after/images/right_arrow_icon.png' %}" alt="main-block" width="25px;" height="25px;">
            <p>Configurações de cor e texto</p>
          </div>
    
          <div class="packet-option">
            <img src="{% static 'home_after/images/right_arrow_icon.png' %}" alt="main-block" width="25px;" height="25px;">
            <p>Personalize o modelo, a moldura e os logotipos</p>
          </div>
          <a href="{% url 'pro' %}" class="get-button" >PEGAR</a>
          <!-- {% if user.is_authenticated %}
          <a href="#" id = 'ProButton' name = 'pro-packet' class="get-button">FORMA</a>
          {% else %}
            <a href="{% url 'login' %}" id = 'ProButton' name = 'pro-packet' class="get-button">FORMA</a>
          {% endif %}-->
        </div>
    
    
      </div>
      

    </div>
    


  </main>



  {% if user.is_authenticated %}
    <div id="popupBg" class="popup-bg">
      <!-- Модальне вiкно -->
      <div id="popup" class="popup">
          <div class="text-form">
              <p>Obtenha um plano "Padrão" </p>
              <span>$2/Meses</span>
              <div class="close-text">
                  <button id="closePopup" class="close-popup" >
                      <img class="icon-cross"  src="{% static 'home_after/images/icon-cross.png' %}" alt="">
                  </button>
              </div>
              
          </div>
          <hr class="line">
        
          <form action="{% url 'packet_standard' %}"  method="post" class="form-inputs">
              {% csrf_token %}
              <div class="iconBox">
                <h3>Número do cartão</h3>
                <div class="blue"></div>
                <input type="text" name="card-number" placeholder="---- ---- ---- ----" maxlength="16" >
                <img src="{% static 'home_after/images/icon-card.png' %}" alt="">
              </div>
    
                <div class="card-info">
                    
                  <div class="iconBox2">
                    <h3>Período de validade</h3>
                    <div class="blue"></div>
                    <input type="text" name="card-date" placeholder="MM/YY" maxlength="4" >
                    <img src="{% static 'home_after/images/icon-time.png' %}" alt="">
                  </div>
                    
                  <div class="iconBox2">
                    <h3>Código de segurança</h3>
                    <div class="blue"></div>
                    <input class="cvc" type="password" name="card-cvc" placeholder="CVC" maxlength="3"  >
                    <img src="{% static 'home_after/images/icon-safe.png' %}" alt="">
                  </div>
                </div>
                <div class="iconBox">
                  <h3>Nome do Titular</h3>
                  <div class="blue"></div>
                  <input type="text" name="user-card" placeholder="name surname" >
                  <img src="{% static 'home_after/images/icon-user.png' %}" alt="">
                </div>
    
                <button type="submit" name ='standart-modal' value="standart-modal">FORMA</button>
                
              
    
          </form>
          
      </div>
    </div>

    

  {% endif %}




  {% if user.is_authenticated %}
    <div id="popupBg1" class="popup-bg">
      <div id="popup1" class="popup">
          <div class="text-form">
              <p>Obtenha um plano "Pro"</p>
              <span>$10/Meses</span>
              <div class="close-text">
                  <button id="closePopup1" class="close-popup" >
                      <img class="icon-cross"  src="{% static 'home_after/images/icon-cross.png' %}" alt="">
                  </button>
              </div>
              
          </div>
          <hr class="line">
        
          <form action="{% url 'packet_pro' %}" method="post" class="form-inputs">
              {% csrf_token %}
              <div class="iconBox">
                <h3>Número do cartão</h3>
                <div class="blue"></div>
                <input type="text" name="card-number" placeholder="---- ---- ---- ----" maxlength="16" >
                <img src="{% static 'home_after/images/icon-card.png' %}" alt="">
              </div>
    
                <div class="card-info">
                    
                  <div class="iconBox2">
                    <h3>Período de validade</h3>
                    <div class="blue"></div>
                    <input type="text" name="card-date" placeholder="MM/YY" maxlength="4" >
                    <img src="{% static 'home_after/images/icon-time.png' %}" alt="">
                  </div>
                    
                  <div class="iconBox2">
                    <h3>Código de segurança</h3>
                    <div class="blue"></div>
                    <input class="cvc" type="password" name="card-cvc" placeholder="CVC" maxlength="3"  >
                    <img src="{% static 'home_after/images/icon-safe.png' %}" alt="">
                  </div>
                </div>
                <div class="iconBox">
                  <h3>Nome do Titular</h3>
                  <div class="blue"></div>
                  <input type="text" name="user-card" placeholder="name surname" >
                  <img src="{% static 'home_after/images/icon-user.png' %}" alt="">
                </div>
    
                <button id = "ProButton" type="submit"  name ='pro-modal' value="pro-modal">Forma</button>
                
              
    
          </form>
          
      </div>
    </div>

 

  {% endif %}


    

  
  

  <script src="{% static 'home_after/js/home_after.js'%}"></script>

  
  
  


  
  

{% endblock %}


