body{
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #E8ECFC;
}





header {
  height: 52px;
  font-family: Century Gothic, sans-serif;
  font-weight: bold;
  font-size: 20px;
  display: flex;
  justify-content: center; 
  align-items: center;
  background-color: #4466FF;
  gap: 20px; 
  padding: 0 40px;
}


.qr-code-links{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap : 20px;
  margin-left: -310;
}

header a {
  white-space: nowrap; 
  color: white; 
  text-decoration: none; 
}

/* .links a:visited {
  text-decoration: none;
}

.links a:hover {
  text-decoration: underline;
}

.links a:active {
  text-decoration: underline;
} */



footer{
  height: 204px;
  /* height: auto; */
  display: flex;
  gap: 99px;
  justify-content: center;
  align-items: center;
  padding: 10px 0 10px 0;
  gap: 204px;
  background-color: #4466FF;
  color: #BBE9F7;
  
}
.contacts-icons{
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 29px;
}

.contacts-icons img{
  width: 40px;
  height: 40px;
}


.copyright-logotype{
  width: 272px;
  height: auto;
  font-family: Inter;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 21px;
  padding: 0;

}


.about-us{
  width: 272px;
  height: auto;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: -30px;
}


.about-us p{
  text-align: center;
  font-size: 36px;
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 700;
}


.footer-links{
  width: 217px;
  height: auto;
  font-size: 14px;
  display: flex;
  flex-direction: column;
}




.footer-links a{
  text-decoration: none;
  font-family: Inter;
  font-weight: bold;
  color: #BBE9F7;

}

.button-redirect {
  border: none;
  cursor: pointer;
  appearance: none;
  background-color: inherit;
  

  
}

