*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



header {
    height: 52px;
    font-family: Century Gothic, sans-serif;
    font-weight: bold;
    font-size: 20px;
    display: flex;
    justify-content: center; 
    align-items: center;
    background-color: #4466FF;
    gap: 20px; 
    padding: 0 40px;
  }
  
  
  .qr-code-links{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap : 20px;
    margin-left: -310;
  }
  
  header a {
    white-space: nowrap; 
    color: white; 
    text-decoration: none; 
  }
.link_qr{
    font-family:  Gothic;
    font-size: 20px;
    font-weight: 700;
    line-height: 24.52px;
    text-align: center;
    padding: 0px 10px 0px 200px;
    text-decoration: underline cornsilk;
}

.my_qr{
    font-family:  Gothic;
    font-size: 20px;
    font-weight: 700;
    line-height: 24.52px;
    padding: 0px 10px 0px 100px;
}
.links{
    /* position: absolute; */
    font-family:  Gothic;
    font-size: 20px;
    font-weight: 700;
    line-height: 24.52px;
    padding: 0px 10px 0px 200px;
    margin-left: 400
    ;
}
.exit{
    font-family:  Gothic;
    font-size: 20px;
    font-weight: 700;
    line-height: 24.52px;
    padding: 0px 10px 0px 70px;
    /* margin-left: 450px; */
}

body{
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    background-color: #E8ECFC;
    margin: 0;
    padding: 0;
    height: 100vh;
}
.pro{
    width: 100vw;
    margin: 0 auto;
}
.pro2{
    background-color: white;
    padding: 25px 94px 25px 94px;
    /* gap: 19px; */
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    gap: 1rem;
}

.pro2 .p1 {
    font-size: 40px;
    font-weight: bold;
    color: black;
}

.pro2 .p2 {
    font-size: 40px;
    font-weight: bold;
    color: black;
}

.pro2 .p3 {
    font-size: 24px;
    font-weight: 600;
    color: black;
    margin-left: 1rem;
}
.QR{
    width: 423px;
    height: 419px;
    gap: 0px;
    opacity: 0px;
    margin-top: -58px;

}
.main{

    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: center;
    gap: 300px;
}

h2{
    font-family: Montserrat Alternates;
    font-size: 20px;
    font-weight: 700;
    line-height: 24.38px;
    padding: 10px 10px 10px 30px
    /* text-align: center; */
}

form label{
    font-family: Montserrat Alternates;
    font-size: 15px;
    font-weight: 700px;
    line-height: 24.38px;
    gap: 10px;

}

form{
    margin-top: 30px;
    /* padding: 30px; */
    /* padding: 440px; */
}

form .input-type4{

    margin-bottom: 30px;
    width: 300px;
    height: 52px;
    padding: 0px 20px 0px 20px;
    gap: 10px;
    border-radius: 11px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
}


form .input-type1{

    /* margin-bottom: 30px; */
    width: 661px;
    height: 52px;
    padding: 0px 20px 0px 20px;
    gap: 10px;
    border-radius: 11px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
}

form .input-type2{

    width: 100px;
    height: 52px;
    border-radius: 11px;
    border-top-right-radius: 0;
    border-right: none;
    
    border-bottom-right-radius: 0;
    border: 1px 0px 0px 0px;
    opacity: 0px;
}
 

form .input-type3{

    width: 561px;
    height: 52px;
    border-radius: 11px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: none;
    padding-left: 10px;
    
    border: 1px 0px 0px 0px;
    opacity: 0px;
}


form .input-logo[type="file"]::file-selector-button{
    width: 250px;
    height: 52px;
    border: 1px solid black;
    border-radius: 11px;
    background-color: white;
    
   
  }

form .input-logo[type="file"]{
    width: 561px;
}







form .input-colors{
    display: flex;
    flex-direction: row;
    gap: 0;


}

form .pattern{
    width: 661px;
    height: 52px;
    padding: 0px 20px 0px 20px;
    gap: 10px;
    border-radius: 11px;
    border: 1px 0px 0px 0px;
    appearance: none;
    background-color: white;
    margin: 0;
    font-family: Montserrat Alternates;
    font-size: inherit;
    cursor: pointer;
    
}

form .eye-frame{
    width: 661px;
    height: 52px;
    padding: 0px 20px 0px 20px;
    gap: 10px;
    border-radius: 11px;
    border: 1px 0px 0px 0px;
    appearance: none;
    background-color: white;
    margin: 0;
    font-family: Montserrat Alternates;
    font-size: inherit;
    cursor: pointer;
    
}




  


form img{
    /* display: flex; */
    position: absolute;
    margin-left: -25px;
    margin-top: 2px;

    width: 20px;
    height: 20px;
    /* margin-top: 50px; */
}

.create-pro{
    font-family:  Gothic;
    font-size: 24px;
    font-weight: 700;
    width: 330px;
    height: 53px;
    line-height: 29.43px;
    text-align: center;
    color: #ffffff;
    justify-content: center;
    background-color: #4466FF;
    border-radius: 28px;
    margin-left: 165px;
    margin-top: 50px;
} 

.error-message{
    width: 100vw;
    text-align: center;
}